<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.framgia.fel1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_fels"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <category
                    android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>